.reg .container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 70px;
  margin-bottom: 70px; */
  margin-top: 10%;
  margin-bottom: 10%;
}

.form-box {
  max-width: 300px;
  background: #5c6043; /*#f1f7fe*/
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
  color: #ffffff;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #ffffffb6;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #474a34;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  color: #ffffff;
}

.form-section a {
  font-weight: bold;
  color: #D78B30;
  transition: color .3s ease;
}

.form-section a:hover {
  color: #d47a0b;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #D78B30;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #d47a0b;
}

@media (max-width: 800px) {
  .form-box {
    transform: scale(2);
    margin-top: 25%;
    margin-bottom: 25%;
  }
}

@media (max-width: 460px) {
  .form-box {
    transform: scale(2.1);
    margin-top: 35%;
    margin-bottom: 35%;
  }
}