.gallery {
  padding: 50px 0;
}

h1 {
  font-weight: 600;
  font-size: 42px;
  text-align: center;
  padding: 40px 0;
}

.gallery ul {
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.gallery li {
  display: inline-block;
}

.active {
  position: relative;
  border: 3px solid #d89d54;
  /* border-radius: 40%; */
  background-color: #d89d54;
  border-left-width: 30px;
  border-right-width: 30px;
  border-bottom-width: 5px;
  border-top-width: 5px;
}

.gallery li:hover {
  cursor: pointer;
}

.list_item {
  margin-right: 12vh; 
}

.list_item:last-child {
  margin-right: 0; 
}

.blocks {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; 
}

.block_item {
  position: relative;
  width: 350px;
  height: 450px;
}

.block_item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 800px) {
  h1 {
    font-size: 52px;
  }
  .gallery ul {
    font-size: 35px;
  }
  .blocks {
    gap: 35px;
    grid-template-columns: repeat(2, 1fr);
  }
  .block_item {
    width: 450px;
    height: 550px;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 59px;
  }
  .gallery ul {
    font-size: 39px;
  }
  .blocks {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .block_item {
    width: 550px;
    height: 660px;
  }
}

