.home .container {
  display: flex;
}

.home .image {
  flex: 1;
  height: 600px;
}

.home img {
  position: absolute;
  width: 585px;
  /* height: 597; */
}

.home .text {
  flex: 1;
  padding-left: 31px;
}

.home .text h1 {
  color: #343434;
  font-weight: 600;
  font-size: 30px;  
  padding-bottom: 20px;
}

.home p {
  color: #343434;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.143px;
}

@media (max-width: 800px) {
  .home {
    padding-top: 20px;
  }
  .home .container {
    flex-direction: column;
    justify-content: center; 
  }
  .home .image {
    flex: none;
    height: 600px;
    padding-left: 25%;
  }
  .home .text {
    padding-left: 21px;
    text-align: center;
    flex: none;
    padding-top: 20px;
  }
  .home .text h1 {
    font-size: 40px;
  }
  .home p {
    font-size: 28px;
    line-height: 1.2;
  }
}

@media (max-width: 460px) {
  .home {
    padding-top: 40px;
  }
  .home .text h1 {
    font-size: 45px;
  }
  .home p {
    font-size: 38px;
    line-height: 1.3;
  }
}