.master-class {
  padding: 90px 0;
  min-height: 400px;
  position: relative;
  max-height: 1300px;
  width: 100%;
}

.master-class-content {
  max-width: 600;
  position: relative;
}
.master-class-head {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.master-class-text {
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
  line-height: 25px;
  letter-spacing: -0.143px;
}

.master-class .bth-big {
  margin-right: auto;
  position: absolute;
  right: 0;
}

.master-class-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.master-class-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

/* @media (max-width: 1240px) {
  .master-class-bg {
    display: none;
  }
  .master-class{
    background-image: url(/img/fon2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: navy;
  }
} */