.name {
  height: 290px;
}

.name-content {
  text-align: center;
  padding-top: 90px;
}

.name-heading {
  color: #1A1A1A;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 48px;
}

.name-content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 388%;
  /* or 388% */
  letter-spacing: 7px;
  color: #757575;
}

@media(max-width: 800px){
  .name-heading {
    font-size: 70px;
  }
  .name-content p{
    font-size: 26px;    
  }
} 

@media (max-width: 460px) {
  .name-heading {
    font-size: 80px;
  }
  .name-content p{
    font-size: 36px;    
  }
}

